<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Adminka</title>
	<link rel="stylesheet" type="text/css" href="../../web/css/chat.css">
</head>
<body>
<div class="headerAdminka">
	<div class="wrapper">
		<h1>Адмінка</h1>
	</div>
</div>
<div class="contentAdm">
	<div class="wrapper">
			<form action="" method="POST">
			<p>Скільки екзаменів здавати?</p>
				<input name="answerAdm" class="answerAdm">
				<button name="sendAdm" value="sendAdm" class="sendAdm">Відправити</button>	
			</form>
	</div>
</div>
<div class="footerAdm">
	<div class="wrapper">
			
	</div>
</div>
</body>
</html>