<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link rel="stylesheet" type="text/css" href="../../web/css/chat.css">
</head>
<body>
	<div class="header">
		<div class="wrapper">
			<div class="logo">
				<img src="../../web/images/logo.png" height="148">
			</div>
			<div class="nameSite">
				<h2>Хмельницький політехнічний коледж</h2>
				<p>Офіційний сайт</p>
			</div>
			<div class="navList">
				<ul>
					<li><a href="#">Домашня</a></li>
					<li><a href="#">Про коледж</a></li>
					<li><a href="#">Запитання</a></li>
					<li><a href="#">Курси</a></li>
					<li><a href="#">Контактна інформація</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="wrapper">
			<div class="leftContent">
				<div class="findAnswer">
					<img src="../../web/images/ask.png" class="searcher">
					<h3>Знайди відповідь</h3>
					<p>Запитай онлайн</p>
				</div>
				<div class="askIcon">
					<img src="../../web/images/mans.png">
				</div>
			</div>
			<div class="rightContent">
				<div class="chatWindow">
				<form action="POST">
					<div class="ask">
						<input>
						<button name="sendAsk" value="Відправити">Відправити</button>

					</div>
					<div class="answer"></div>
				</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrapper">
			<span class="copyright">© 2015 ХМЕЛЬНИЦЬКИЙ ПОЛІТЕХНІЧНИЙ КОЛЕДЖ</span>
		</div>
	</div>
</body>
</html>