<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link rel="stylesheet" type="text/css" href="../../web/css/chat.css">
</head>
<body>
	<div class="header">
		<div class="wrapper">
			<div class="logo">
				<img src="../../web/images/logo.png" height="148">
			</div>
			<div class="nameSite"></div>
			<div class="navList"></div>
		</div>
	</div>
	<div class="content">
	<p>HEllo World!!!</p>
		<div class="wrapper">
			<div class="leftContent">
				<div class="findanswer"></div>
				<div class="askIcon"></div>
			</div>
			<div class="rightContent">
				<div class="chatWindow"></div>
			</div>
		</div>
	</div>
	<div class="footer">
	<p>HEllo World!!!</p>
		<div class="wrapper"></div>
	</div>
</body>
</html>